@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #000957;
    --color-secondary: #ffeb00;
}

@utility stroke-text-* {
    --tw-text-opacity: 1;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: --value(--color-*);
}


:root {
    --primary-color: #000957;
    --fourth-color: #344CB7;
    --third-color: #577BC1;
    --secondary-color: #FFEB00;
}

html {
    scroll-padding-top: 80px;
}